{% extends "app/layout.html" %}

{% block content %}

<style>
    body {
        background-color: #f4f4f9;
    }
</style>

<div style="margin: 20px 0">
    <div style="font-size: 28px; color: #75b061; font-weight: 600; margin-bottom: 30px;">
        Контакты
    </div>
    <div style="font-size: 16px;">
        <p><strong>Адрес:</strong> ул. Толстого, д. 322, г. Сергиев Посад</p>
        <p><strong>Телефон:</strong> +7 (999) 999-99-99</p>
        <p><strong>Время работы:</strong> Понедельник - Пятница: 9:00 - 18:00, Суббота: 11:00 - 18:00, Воскресенье - выходной</p>
    </div>
</div>

{% endblock %}
